<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
</head>
<body>
    
    <h1>welcome <%= user.name  %></h1>
    <h1>Email <%= user.email  %></h1>
    <h1>City <%= user.city  %></h1>
    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li><%= item %></li>
        <%})%>
    </ul>
</body>
</html>